body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1200px) 1fr;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer"
  ;
}

/* HEADER */

.header {
  grid-area: header;
  padding: 3.0rem 3.0rem 3.0rem 3.0rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 3.3rem;
  font-weight: 700;
  color: #3E3F43;
  letter-spacing: 0.25em;
  margin-left: 5.0rem;
}

.logo img {
  min-width: 30px;
}

.logo div + div {
  margin-left: 10px;
}

.menu {
  z-index: 1;
}

.menu ul { 
  display: flex;
  flex-wrap: wrap;
}

.menu li + li {
  margin-left: 4.0rem;
}

.menu .a {
  display: block;
  padding: 1.4rem;
  font-size: 2.5rem;
  color: rgba(34, 34, 34, 0.75);
}

.sign-up {
  display: block;
  padding: 1.4rem 4.7rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #3E3F43;
  border: solid 1px #3E3F43;
  border-radius: 0.5rem;
  cursor: pointer;
}

.menu .a:hover {
  color: #DAA520;
}

.div-btn {
  display: none;
}

.btn {
  z-index: 1;
  width: 40px;
  height: 45px;
  position: absolute;
  font-size: 4.0rem;
  top: 3.0rem;
  right: 3.0rem;
  display: flex;
  color: #DAA520;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px ;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn-activ {  /* Class js */
  color: #FFFFFF;
  background: #DAA520;
}

/* MAIN */

.content {
  grid-area: content;
}

.home-section {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.text {
  width: 55%;
  margin-left: 10rem;
  font-size: 4.5rem;
  line-height: 5.5rem;
  color: #3E3F43;
}

.text p + p {
  padding-top: 5.0rem;
}

.text p:nth-child(2) {
  font-size: 8.3rem;
  font-weight:700;
  line-height: 9.8rem;
  color: #313235;
  margin-bottom: 5.0rem;
}

.text a {
  background: #DAA520;
  color: #FFFFFF;
  padding: 3.0rem 4.0rem;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.table-img {
  width: 45%;
  z-index: 1;
}

.color {
  position: absolute;
  top: 0;
  right: 0;
  width: 28vw;
  height: 55vmax;
  background: #F9BDBD;
  border-bottom-left-radius: 120px;
}

.about-us-section {
  margin-top: 50px;
  margin: 20rem auto;
}

.div-h1 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font-size: 4.0rem;
  font-weight: bold;
  margin: 0 10rem;
  color: #3E3F43;
}

.div-h1 div {
  width: 98%;
  height: 2px;
  background: #000000;
  margin-left: 1.0rem;
}

.div-h1 h1:nth-child(3) {
  font-size: 9.0rem;
  color: rgba(34, 34, 34, 0.2);
}

.img-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-1 {
  position: relative;
  width: 50%;
  margin: 10rem 5rem 5rem 10rem;
  display: flex;
  justify-content: flex-end;
}

.color-2 {
  position: absolute;
  width: 65%;
  left: 0;
}

.img-2 {
  width: 30%;
}

.salad {
  width: 90%;
  z-index: 1;
}

.text-p {
  margin: 0 10rem;
}

.text-p p {
  line-height: 5.5rem;
}

.text-p p + p {
  padding-top: 2.0rem;
}

.text-p p:nth-child(1){
  font-size: 4.5rem;
  color: #3E3F43;
}

.text-p p:nth-child(2) {
  font-size: 3.3rem;
  font-weight: 600;
  color: #000000;
}

.how-it-works-section {
  text-align: center;
}

.how-to-custom {
  max-width: 1500px;
  display: flex;
  margin: 10rem auto;
  margin-bottom: 15rem;
  justify-content: space-between;
}

.how-to-custom img{
  width: 200px;
}

.how-to-custom div p {
  margin-top: 20px;
  font-size: 3.3rem;
  font-weight: bold;
  color: #000000;
}

.how-it-works-section a {
  background: #DAA520;
  color: #FFFFFF;
  padding: 3.0rem 4.0rem;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.categories-section { 
  margin: 100px 30px;
}

.categories-imgs-1, .categories-imgs-2 {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.img-rectangle {
  width: 100%;
}

.img-rectangle p {
  position: absolute;
  font-size: 3.3rem;
  font-weight: 800;
  margin: 20px 0 0 20px;
}

.img-rectangle a {
  position: absolute;
  font-size: 2.7rem;
  font-weight: bold;
  color: #3E3F43;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  border: 2px solid #3E3F43;;
  padding: 10px 20px;
  border-radius: 5px;
}

.img-photo {
  position: absolute;
  width: 55%;
}

.img-img {
  display: flex;
  position: relative;
  width: 580px;
  align-items: center; 
  justify-content: center;
}

.img-img + .img-img  {
  margin-left: 4.0rem;
}

.testimony-section {
  margin: 0 30px 50px 30px;
}

.testimony {
  max-width: 1850px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 80px;
}

.testimony-p {
  display: flex;
  align-items: center;
  max-width: 600px;
  max-height: 300px;
  margin-right: 10px;
  border: 2px solid #A8DCEC;
  border-radius: 10px;
}

.testimony-p img {
  max-width: 150px;
  margin-bottom: 30px;
}

.testimony-p div div {
  margin-top: 30px;
}

.testtimony-img {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.testtimony-img img {
  width: 48%;
}

.testimony p {
  font-size: 2.3rem;
}

/* FOOTER */

.footer {
  grid-area: footer;
  background-color: #DAA520;
}

.footer p {
  font-size: 2.5rem;
  color: #000;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: #000;
}
