body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #FFFFFF;
  font-family: 'Nunito', sans-serif;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1200px) 1fr;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer"
  ;
}